body,
html {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
}

p{
    font-size: 12px;
}
.pseudo-chat{
    font-size: 13px;
    color : white;
    background-color : #009432;
    border: solid 1px #009432;
    border-radius: 2px;
    padding: 5px;
}
.champ-requis {
    font-size: 10px;
    font-style: italic;
}

.asterix {
    font-size: 1.2em;
    font-weight: bolder;
    color: red;
}

.cursor-pointer {
    cursor: pointer;
}

.center-div {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    height: max-content;
    width: max-content;
    border: solid silver 1px;
    padding: 15px;
}

.center-div-choix {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin: auto;
    margin-top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    height: max-content;
    width: 50%;
    border: solid silver 1px;
    padding: 25px;
}

.center-div-chat {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin: auto;
    margin-top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    height: max-content;
    width: 50%;
    height: 60%;
    border: solid silver 1px;
    padding: 15px;
}

.zone-chat {
    border: solid 1px silver;
    width: 100%;
    height: 70%;
    padding: 10px;
}

.envoie-message {
    margin-top: 10px;
}
.overflow{
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow: auto;
    overflow-wrap: break-word;
}
.message {
    height: 100px;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow: auto;
    overflow-wrap: break-word;
}

.label-formulaire {
    font-size: 20px;
}

.btn-size {
    font-size: 20px;
    transform: scale(1);
    width: 100%;
    height: 50px;
}

.btn-size:active {
    transform: scale(0.95);
}

.margin-top {
    margin-top: 15px;
}

.titre-color {
    background-color: #130f40;
    color: white;
    padding: 20px;
}

.div-largeur {
    width: 500px;
}

footer {

    margin-top: 50px;
    background: #ccc;
    width: 100%;
    height: 50px;
}

.salle-block {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid #27ae60 1px;
    border-radius: 5px;
    text-align: center;
    height: 100px;
    position: relative;
    top: 0;
    padding-top: 30px;
    font: bold 30px Arial;
    cursor: pointer;
}

.salle-block:active {
    transform: scale(1.01)
}

.salle-block:hover {
    background-color: #27ae60;
    color: white;
}

.btn-salle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fafafa;
    box-shadow: 2px 2px 8px #2d3436;
    font: bold 30px Arial;
    border-radius: 50%;
    color: #0984e3;
    top: 0;
    left: 10px;
}

.btn-salle:active {
    transform: scale(0.95);
}

.btn-accueil {
    position: relative;
    width: 100px;
    height: 50px;
    box-shadow: 2px 2px 8px #2d3436;
    font-size: 18px;
    top: 0;
    right: 10px;
    float: right;
}

.btn-accueil:active {
    transform: scale(0.95);
}

.text-center {
    text-align: center;
}

.display {
    display: none;
}